body {
  background-color: #f5f4eb;
}

h1 {
  position: relative;
  left: 10%;
  text-decoration-color: #384132;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
  letter-spacing: .1em;
  word-spacing: .1em;
}

.friend {
  background-color: #977489;
  border-radius: 5px;
  text-align: center;
  padding: .1em 2em .1em 2em;
  margin: 2%;
}

div.friend p {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  font-weight: bold;
  border-radius: 5px;
  background-color: #DBDBCC;
  padding: .2em 0em .2em 0em;
  margin: .5em;
}

